@page
@model Crystal.Pages.HeatTabl.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeatTablInvariant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.Temperat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.Temperat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.ZnC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.ZnC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.C)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.C)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.ErrC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.ErrC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.BknumberNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.BknumberNavigation.Bknumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatTablInvariant.HeadClueNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatTablInvariant.HeadClueNavigation.Help)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HeatTablInvariant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
