@page
@model Crystal.Pages.HeatTabl.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HeatTablInvariant[0].Temperat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeatTablInvariant[0].ZnC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeatTablInvariant[0].C)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeatTablInvariant[0].ErrC)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablInvariant[0].BknumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablInvariant[0].HeadClueNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HeatTablInvariant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temperat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZnC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BknumberNavigation.Bknumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadClueNavigation.Help)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
