@page "{systemUrl}"
@using Substances
@using Utils
@model Substances.SubstanceInfoModel
@inject UrlBuilder UrlBuilder;

@{
    ViewData["Title"] = Model.HeadTablLanguage.HeadTabl.SystemUrl;
}

<h2>@Html.Raw(Model.HeadTablLanguage.HeadTabl.System)</h2>

<p>
    <b>
        @Html.DisplayNameFor(model => model.HeadTablLanguage.Expert):
    </b>
    @Html.DisplayFor(model => model.HeadTablLanguage.Expert)
</p>

<p>
    <b>
        @Html.DisplayNameFor(model => model.HeadTablLanguage.HeadTabl.Help):
    </b>
    @Html.DisplayFor(model => model.HeadTablLanguage.HeadTabl.Help)
</p>

<h3>Actions</h3>

<div>
    <a href="@UrlBuilder.BuildSubstanceLink(
                 Model.GetLanguage(),
                 ViewContext.RouteData.Values["systemUrl"] as string,
                 "Edit")">
        Edit
    </a>
</div>

<h3>Properties</h3>

<div class="list-group">
    @foreach (var item in Model.PropertiesLanguage)
    {
        
        
         @if(Model.AvailableProperties[item.Properties.TableName])
         {
             
             <a asp-page="./@item.Properties.TableNameUrl/Index"
                asp-route-systemUrl='@ViewContext.RouteData.Values["systemUrl"]'           
                class="list-group-item">
                 @Html.Raw(item.Nazvprop)
             </a>
         }
         else
         {
             <a asp-page="./@item.Properties.TableNameUrl/Index"
                asp-route-systemUrl='@ViewContext.RouteData.Values["systemUrl"]'           
                class="list-group-item disabled"
                >
                 @Html.Raw(item.Nazvprop)
             </a>

         }
        
    }
</div>