@page
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils
@model IndexModel

@inject IViewLocalizer Localizer
@inject UrlBuilder UrlBuilder;

@{
    ViewData["Title"] = "Index";
}

<h2>@Localizer["Substances"]</h2>


@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <p>
        <a href="@UrlBuilder.BuildSubstanceLink(Model.GetLanguage(), null, "Create")">
            @Localizer["Create New"]
        </a>
    </p>
}


<div class="row">
    @foreach (var item in Model.HeadTablClass0)
    {
        <div class="col-md-3 col-sm-4">
            <a href="@UrlBuilder.BuildSubstanceLink(Model.GetLanguage(), item.HeadTabl.SystemUrl, "Details")">
                @Html.Raw(item.HeadTabl.System)
            </a>
        </div>
    }
</div>

<h3>@Localizer["Langasites"]</h3>

<div class="row">
    @foreach (var item in Model.HeadTablClass1)
    {
        <div class="col-md-3 col-sm-4">
            <a href="@UrlBuilder.BuildSubstanceLink(Model.GetLanguage(), item.HeadTabl.SystemUrl, "Details")">
                @Html.Raw(item.HeadTabl.System)
            </a>
        </div>
    }
</div>