@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model Substances.IndexModel

@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Index";
}

<h2>Вещества</h2>


@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <p>
        <a asp-page="Create">@Localizer["Create New"]</a>
    </p>
}


<div class="row">

    <h3>Соединения</h3>
</div>

<div class="row">

    @foreach (var item in Model.HeadTablClass0)
    {
        <div class="col-md-3 col-sm-4">
            <a asp-page="./Properties"
               asp-route-systemurl="@item.HeadTabl.SystemUrl">
                @Html.Raw(item.HeadTabl.System)
            </a>
        </div>
    }
</div>
<div class="row">

    <h3>Лангаситы</h3>
</div>
<div class="row">

    @foreach (var item in Model.HeadTablClass1)
    {
        <div class="col-md-3 col-sm-4">
            <a asp-page="./Properties"
               asp-route-systemurl="@item.HeadTabl.SystemUrl">
                @Html.Raw(item.HeadTabl.System)
            </a>
        </div>
    }

</div>