@page
@model Crystal.Pages.HeadTabl.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HeadTablInvariant[0].Help)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadTablInvariant[0].Class)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HeadTablInvariant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Help)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HeadClue">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HeadClue">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HeadClue">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
