@page "{systemUrl}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@model Substances.Heat.IndexModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.Temperat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ZnC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ErrC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].MethodC)
        </th>
        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <th>
                @SharedLocalizer["Reference"]
            </th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HeatTablLanguage)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.HeatTabl.Temperat)
            </td>
            <td>
                @Html.Raw(item.HeatTabl.ZnC)
            </td>
            <td>
                @Html.DisplayFor(model => item.HeatTabl.C)
            </td>
            <td>
                @Html.DisplayFor(model => item.HeatTabl.ErrC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MethodC)
            </td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
                
//                todo /ru/PDF/{BibliogrId}.pdf - link to pdf download (as view)
                // todo same for pictures (GrafTabl) (соединение: LiNbO3  > сингония: ромбоэдрическая > Распространение и затухание упругих волн > Рисунки)
                // http://crystal.server2014.imet-db.ru/ru/properties/picture.asp?pic=alo953&propm=%D0%E8%F1.953%20%20[%D0%E8%F1%F3%ED%EA%E8%20%C1%C4%20%CA%F0%E8%F1%F2%E0%EB%EB]
                <td>
                    <a data-toggle="popover" data-placement="right" data-content="@Html.Raw(Model.References[item.HeatTablId])">
                        @Model.References[item.HeatTablId].BibliogrId
                    </a>
                </td>
            }

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>