@page "{systemUrl}"
@using Crystal.Pages.Substances.Heat
@model Crystal.Pages.Substances.Heat.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.Temperat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ZnC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ErrC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatTablLanguage[0].MethodC)
        </th>
        <th>
            @Html.DisplayNameFor(model =>
                model.HeatTablLanguage[0].HeatTabl.BknumberNavigation.BibliogrLanguage.FirstOrDefault().Authors)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HeatTablLanguage)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.HeatTabl.Temperat)
            </td>
            <td>
                @Html.Raw(item.HeatTabl.ZnC)
            </td>
            <td>
                @Html.DisplayFor(model => item.HeatTabl.C)
            </td>
            <td>
                @Html.DisplayFor(model => item.HeatTabl.ErrC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MethodC)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
                    item.HeatTabl.BknumberNavigation.BibliogrLanguage
                        .FirstOrDefault(bibliogr => bibliogr.BibliogrId == item.HeatTabl.Bknumber).Authors)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>